@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
.App {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  cursor: auto;
}

.navbar-custom {
  background-color: #D7242A;




}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: white;
}

.dropdown-menu {
  margin-top: 5px;
}

.dropdown-menu>li>a {
  padding: 5px 20px;
}



.custom-border-radius {
  border-radius: 20px;
}

.navbar .value .nav-item {
  position: relative;
}

.navbar .value .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: #D7242A;
  width: 0%;
  height: 4px;
  transition: all 0.5s;
}

.navbar .value .nav-item:hover::after {
  width: 100%;
}



.search-container {
  position: relative;
  background-color: #D7242A;
  color: #fff;
  width: 140px;
 
  border-radius: 25px;

  padding: 9px 4px 9px 40px;
}





  .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    /* Adjust the left position as needed */
    transform: translateY(-50%);
    color: white;
  }
.smallclass{
  color: #565656;
  font-family: 400px;
font-size: 14px;
}
.circle-box {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px; 
  background-color: #f1f1f1; 
  border-radius: 25px;
}
.custom-radio .form-check-input:checked {
  background-color: #D7242A;
  border-color: #D7242A;
}

.custom-radio .form-check-input:checked::before {
  background-color:  #D7242A;
}

.inp {
  border:none;
  border-bottom: 1px solid  #D7242A ;

  outline: none;
}

/* postingpage */
.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #D7242A ;
  font-size: 14px;
  padding: 10px 12px;
  border: 1px solid  #D7242A;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

.plott {
  background-color: #D7242A!important;
  color: #fff !important;
}
.btn-Name {
  border-radius: 20px;
  border: 1px solid #C5C5C5;
  background: #FFF;
  color: #656565!important;
  justify-content: space-between;
}

.btn-values {
  border-radius: 20px;
  border: 1px solid #D7242A;
  color: #D7242A!important;
  justify-content: space-between;
}

.btn-Nam {
  border-radius: 20px;
  background-color: #D7242A;
  color: #fff;
  justify-content: space-between;
}
.custom-gap {
  margin-bottom: 1rem; /* Adjust the margin as needed */
}
.month{
  color:#C5C5C5;
}


.react-tel-input input {

width:100% !important;

}

.form-control ,.form-select{
  box-shadow : none !important
  }
  .down{
    border-top-right-radius:20px !important;
border-bottom-right-radius:20px !important;
border-color:  #D7242A;
  }
 /* Apply border style when the dropdown menu is focused */
.down:focus {
  border: 1px solid  #D7242A !important;
}

/* Apply border style when the dropdown menu is focused and the focus is visible (better accessibility) */
.down:focus-visible {
  border: 1px solid  #D7242A !important;
}

.nav-link.design{
  cursor: pointer;
  color:  #D7242A!important;
  border-bottom: 5px solid #D7242A !important;
}


.custom-radio .form-check-input:checked {
  background-color: #D7242A !important;
  border-color: #D7242A !important;
  box-shadow: none!important;
}
.custom-radio .form-check-input {
  border-color: #D7242A !important; /* Initial border color */
}

#dropdown-basic-button {
  background-color: #F5F5F5 !important;
  border-radius: "30px" !important;
  color: black !important;
  
}

.dropdown-toggle {
  border-color:  #D7242A !important; /* Darker shade of red */
  border-width: 2px !important;


}

.rounded {
  border-radius :1px solid  #D7242A !important;
}


.detail {
  margin-top: 7rem !important;
}

.react-tel-input .form-control{
  overflow: hidden;
}

.list-unstyled.last.text-black li a:hover {
  color:  #D7242A  !important; 
}
@media (max-width: 1440px) {
  .fixed-image {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 992px) {
 
  .navbar-nav {
    flex-direction:row; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
    justify-content: space-between;
  }
  .nav-item {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 0; /* Remove bottom margin */
  }

  @media (min-width: 576px) and (max-width: 991px) {
    .my-card {
      width: 100%;
      
    }
    .navbar-nav {
     
      flex-direction: row;
      align-items: flex-start!important;
      justify-content: space-between!important; 
     
    }
  
    .nav-item {
      margin-right: 0; 
      margin-bottom: 0px;
    }
  }
  
 
}


@media (max-width: 1024px) {
  .bg-image {
.bg-image {
      width: 100%;
      height: calc(100% - 50px);
      object-fit: cover; 
      background-position: center; 
      margin-top: 50px; 
    }
    
  }
}

